<div class="container">
    <div class="bild">
        <img class="shapeImg" src="assets/img/shaps/photo shadows.png" alt="shape">
        <img class="self" src="assets/img/self.png" alt="self">
    </div>
    <div class="my">
    <span>I am</span>
        <div class="heading">
            <div>
                <h1>Alexej Hein</h1>
                <h3>FRONTEND DEVELOPER</h3>
            </div>
            <button (click)="scrollToContact()">Let's talk!</button>
        </div>
    </div>
</div>

<img class="imgShape" src="assets/img/Vector.svg" alt="shape">

<div class="shape">
    <div class="headerFooter">
        <div class="headerFooterIcon"></div>
        <a href="https://github.com/AlexejHein"> <img style="cursor: pointer;" (click)="goToLink($event, 'https://github.com/AlexejHein')" class="icon-header" src="assets/img/git.svg" alt="gitIcon"></a>
        <a href="#contact"><img class="icon-header"  src="assets/img/email.svg" alt="emailIcon"></a>
        <a href="https://www.linkedin.com/in/alexej-hein-a22744292/"> <img style="cursor: pointer;" (click)="goToLink($event, 'https://www.linkedin.com/in/alexej-hein-a22744292/')" class="icon-header"  src="assets/img/linkin.svg" alt="linkInIcon"></a>
        <p class="email"><a href="mailto:alexej.hein@aol.de">alexej.hein@aol.de</a></p>
    </div>
</div>

