.container{
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  @media (max-width: 1200px){
    gap: 0;
  }
  @media (max-width: 1040px){
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: 400px){
    gap: 1px;
  }
    .bild{
        position: relative;
        margin-top: 130px;
        z-index: -2;
        .shapeImg{
            position: absolute;
            z-index: -1;
            left: -170px;
        }
      @media (max-width: 768px){
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
        }
        .shapeImg{
            width: 100%;
            left: 0;
        }
      }
      @media (max-width: 400px){
        .shapeImg{
            width: 100%;
            left: 0;
        }
      }
    }
    .my{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    span{
        font-size: 45px;
        font-weight: 300;
        transform: rotate(-90deg);
        margin-top: -5px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 55px;
        font-weight: 600;
        letter-spacing: 5px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    h3{
        font-size: 30px;
        font-weight: 600;
        color: #9747FF;
        margin: 0;
    }
    @media (max-width: 480px){
        span{
            font-size: 20px;
            margin-top: -20px;
        }
        h1{
            font-size: 20px;
        }
        h3{
            font-size: 15px;
        }
    }
    button{
        width: 120px;
        background-color: #70E61C;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
            &:hover{
                background-color: #9747FF;
                transition: all 0.4s ease-in-out;
            }
    }
}
.shape{
    width: 100%;
    .headerFooter{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        .headerFooterIcon{
            width: 100px;
            height: 3px;
            background-color: #9747FF;
        }
        .iconheader{
            width: 30px;
                &:hover{
                    transform: scale(1.2);
                }
        }
    }
  @media (max-width: 400px){
    .headerFooter{
        gap: 10px;
        margin-top: 30px;
        .iconheader{
            width: 20px;
        }
    }
    .email{
        display: none;
    }
  }
}
.imgShape{
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: -1;
    overflow: hidden;
  @media (max-width: 2800px) {
    top: 0;
  }
  @media (max-width: 2700px){
    top: 20px;
  }
  @media (max-width: 2600px){
    top: 30px;
  }
  @media (max-width: 2500px){
    top: 50px;
  }
  @media (max-width: 2400px){
    top: 80px;
  }
  @media (max-width: 2300px){
    top: 90px;
  }
  @media (max-width: 2200px){
    top: 130px;
  }
  @media (max-width: 2100px){
    top: 160px;
  }
  @media (max-width: 2000px){
    top: 190px;
  }
  @media (max-width: 1900px){
    top: 220px;
  }
  @media (max-width: 1800px){
    top: 250px;
  }
  @media (max-width: 1700px){
    top: 280px;
  }
  @media (max-width: 1600px){
    top: 310px;
  }
  @media (max-width: 1500px){
    top: 340px;
  }
  @media (max-width: 1400px){
    top: 370px;
  }
  @media (max-width: 1300px){
    top: 400px;
  }
  @media (max-width: 1200px){
    top: 430px;
  }
  @media (max-width: 1100px){
    top: 490px;
  }
  @media (max-width: 1000px){
    top: 510px;
  }
  @media (max-width: 900px){
    top: 530px;
  }
  @media (max-width: 800px){
    top: 550px;
  }
  @media (max-width: 780px){
    top: 460px;
  }
  @media (max-width: 600px){
    top: 510px;
  }
  @media (max-width: 500px){
    top: 430px;
  }
  @media (max-width: 400px){
    top: 400px;
  }
  @media (max-width: 360px){
    top: 390px;
  }
  @media (max-width: 320px){
    top: 340px;
  }
}





