<div class="container">

    <div class="bild"></div>


    <div class="my">
    <span>I am</span>
        <div class="heading">
            <h1>Alexej Hein</h1>
            <h3>FRONTEND DEVELOPER</h3>
            <button>Let's talk!</button>
        </div>
    </div>
    
</div>
<div class="shape">
    <img src="../../assets/img/Vector.svg">
    
    <div class="headerFooter">
        <div class="headerFooterIcon"></div>
        <img src="../../assets/img/git.svg" alt="">
        <img src="../../assets/img/email.svg" alt="">
        <img src="../../assets/img/linkin.svg" alt="">
        <p>alexej.hein@aol.de</p>
    </div>
</div>

