<footer>
    <div class="logo">
        <img src="../../assets/img/logoP.png" alt="Logo">
        <a href="/privacy-policy" class="imp">Impressum</a>
    </div>
    <div class="copy">
        <p>© Alexej Hein 2023</p>
    </div>
    <div class="social">
      <a href="https://github.com/AlexejHein" target="_blank">
        <img src="../../assets/img/git.svg" alt="git hub">
      </a>
      <a href="https://www.linkedin.com/in/alexej-hein-a22744292/" target="_blank">
        <img src="../../assets/img/linkin.svg" alt="linkin">
      </a>
      <a href="mailto:alexej.hein@aol.de">
        <img src="../../assets/img/email.svg" alt="mailTo">
      </a>
    </div>
</footer>
