<div class="menu-container" [ngClass]="{'open': isOpen}" (click)="toggleMenu()">
    <div class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu">
        <a (click)="toggleMenu(); $event.stopPropagation()" href="#about">Über mich</a>
        <a (click)="toggleMenu(); $event.stopPropagation()" href="#skills">Skills</a>
        <a (click)="toggleMenu(); $event.stopPropagation()" href="#portfolio">Portfolio</a>
        <a (click)="toggleMenu(); $event.stopPropagation()" href="#contact">Kontakt</a>
    </div>
</div>

