<div class="aboutContant" >
    <div class="aboutDecription" [@slideIn]="animationState" *ngIf="true">
        <h2>Über mich</h2>
        <p>Ich bin ein angehender Front-End-Entwickler,
          der schon länger ein Interesse an Webentwicklung hegt.
          Mein Wunsch ist es, endlich in diesem spannenden und
          dynamischen Bereich tätig zu werden. Als ersten Schritt
          in die Welt der Webentwicklung habe ich meine eigene
          Fotoseite erstellt, die meine Fähigkeiten im Bereich Design und Entwicklung demonstriert.
          Danach habe ich meinen eigenen Online-Shop entwickelt, um mein Verständnis für E-Commerce und
          Benutzererfahrung zu vertiefen.
        </p>
        <div class="aboutInfo">
            <img src="assets/img/lampe.svg">
            <p>
              Neben der Webentwicklung habe ich auch ein tiefes Interesse an Webdesign,
              Grafikdesign und Illustrationen. Ich bin ständig bestrebt,
              mein Wissen in diesen Bereichen zu erweitern und zu vertiefen,
              um ganzheitliche und benutzerfreundliche Web-Erlebnisse zu schaffen.
              Design ist für mich nicht nur eine Frage der Ästhetik, sondern auch eine Methode,
              um benutzerzentrierte und intuitive Produkte zu entwickeln.
            </p>
        </div>
        <div class="aboutInfo">
            <img src="assets/img/puzzel.svg">
            <p>
              In der Zukunft plane ich, meine Fähigkeiten und Kenntnisse weiter auszubauen,
              um ein Experte in der Front-End-Entwicklung zu werden. Mein Ziel ist es,
              innovative und effektive Lösungen für Web- und Designprobleme zu entwickeln
              und so zur Verbesserung von Online-Erlebnissen beizutragen.
              Ich bin hochmotiviert und freue mich darauf,
              neue Projekte zu starten und mit anderen talentierten Entwicklern und Designern zusammenzuarbeiten,
              um gemeinsam kreative und technisch anspruchsvolle Webprojekte zu realisieren.
            </p>
        </div>
    </div>
    <!-- <img class="abootImg" src="../../assets/img/shaps/Purple shadow 1.png" alt=""> -->
    <div  class="aboutImage">
        <div class="aboutImg">
        </div>
        <div class="aboutImgIcon"></div>
</div>
</div>
