<div class="aboutContant" id="about">
    <div [@slideInLeft]="showAnimation ? '*' : 'void'"  class="aboutDecription">
        <h2>Über MIch</h2>
        <p>Ich bin ein aufstrebender Front-End-Entwickler mit langjährigem
          Interesse an Webentwicklung. Mein Ziel ist es,
          in diesem Bereich zu arbeiten. Ich habe eine
          Fotoseite erstellt, um meine Design- und
          Entwicklungskenntnisse zu zeigen, und dann
          einen Online-Shop entwickelt, um meine Erfahrungen
          in E-Commerce und Benutzererfahrung zu erweitern.
        </p>
        <div class="aboutInfo">
            <img ngSrc="../../assets/img/lampe.svg" height="50" width="36" alt="lampe image">
            <p>Ich habe ein starkes Interesse an Webdesign,
              Grafikdesign und Illustration und strebe danach,
              mein Wissen in diesen Feldern zu erweitern,
              um ganzheitliche, benutzerfreundliche Web-Erlebnisse zu kreieren.
              Design ist für mich mehr als Ästhetik – es ist ein Weg,
              benutzerzentrierte und intuitive Produkte zu entwickeln. </p>
        </div>
        <div class="aboutInfo">
            <img ngSrc="../../assets/img/puzzel.svg" height="50" width="50" alt="puzzle image">
            <p>Geplant ist die Weiterentwicklung in Front-End-Entwicklung,
              um innovative Lösungen für Web- und Designprobleme zu
              entwickeln und Online-Erlebnisse zu verbessern.
              Es besteht die Absicht, in Teamarbeit mit talentierten
              Entwicklern und Designern kreative Webprojekte zu realisieren.</p>
        </div>
    </div>
    <div [@slideInRight]="showAnimation ? '*' : 'void'"  class="aboutImage">
        <div class="aboutImg">
        </div>
        <div class="aboutImgIcon"></div>
</div>
</div>
