<div class="aboutContant" id="about">
    <div class="aboutDecription">
        <h2>About me</h2>
        <p>Hi, I am a Front-end deverloper based in Zell Mosel, Germany(....)
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Ut auctor sem non tempus convallis. Integer et justo vitae 
            urna finibus eleifend sit amet porttitor sapien. 
            Donec sollicitudin massa vel lorem vestibulum efficitur. 
        </p>
        <div class="aboutInfo">
            <img src="../../assets/img/lampe.svg">
            <p>Some personal thing to share(...) Donec ut 
                imperdiet diam, et convallis neque. 
                Class aptent taciti sociosqu ad litora 
                torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
        <div class="aboutInfo">
            <img src="../../assets/img/puzzel.svg">
            <p>Some personal thing to share(...) 
                Donec ut imperdiet diam, et convallis neque. 
                Class aptent taciti sociosqu ad litora torquent per 
                conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
    <img class="abootImg" src="../../assets/img/shaps/Purple shadow 1.png" alt="">
    <div class="aboutImage">
        <div class="aboutImg">
            
        </div>
        <div class="aboutImgIcon"></div>
</div>