.aboutContant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1700px){
      justify-content: center;
    }
    .aboutDecription{
        width: 40%;
        margin: 100px;
        @media (max-width: 1300px){
            width: 90%;
            margin: 0 auto;
        }
        h2{
            font-size: 5rem;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
          @media (max-width: 1000px){
            font-size: 3rem;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
          }
          @media (max-width: 768px) {
            font-size: 2rem;
          }
        }
    }
    .aboutInfo{
        display: flex;
        align-items: center;
        gap: 20px;
        p{
            width: 70%;
        }
    }
    .aboutImage{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1300px){
            display: none;
        }
        .aboutImg{
            background-color: #141D2F;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #70E61C;
            background-image: url('../../assets/img/selfHead.png');
            background-repeat: no-repeat;
            background-position: top;
            object-fit: contain;
        }
        .aboutImgIcon{
            width: 170px;
            height: 3px;
            background-color: #70E61C;
          @media (min-width: 1700px) {
              display: none;
        }        }
    }
}
