<div class="contactContainer">
    <div class="header">
        <div class="hr"></div>
        <h3>Kontakt</h3>
    </div>
    <div class="contant" [@slideIn]="animationState" *ngIf="true">
        <div class="item">
            <h4>Gibt es ein Problem zu lösen?</h4>
            <p>Kontaktieren Sie mich über dieses Formular,
              ich habe Interesse daran,
              von Ihnen zu hören,
              Ihre Ideen zu erfahren und mit meiner Arbeit zu Ihren Projekten beizutragen.
            </p>
            <p>
              Brauchen Sie einen Frontend-Entwickler? <strong> Kontaktieren Sie mich!</strong>
            </p>
        </div>
        <div class="item">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <input class="inputName" formControlName="name" type="text" placeholder="Name">
              <div class="rot" *ngIf="form.get('name')?.invalid && form.get('name')?.touched" >Bitte geben Sie einen gültigen Namen ein.</div>
            </div>
            <div>
              <input formControlName="email" type="text" placeholder="Email">
              <div class="rot" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Bitte geben Sie eine gültige E-Mail-Adresse ein.</div>
            </div>
            <div>
              <textarea formControlName="message" placeholder="Nachricht"></textarea>
              <div class="rot" *ngIf="form.get('message')?.invalid && form.get('message')?.touched">Nachricht ist erforderlich.</div>
            </div>
            <div class="check">
              <input formControlName="checkbox" name="check" type="checkbox">
              <label for="check">Bitte akzeptieren Sie die Datenschutzrichtlinie und stimmen Sie der Verarbeitung meiner Daten wie dargelegt zu.</label>
              <div class="rot" *ngIf="form.get('checkbox')?.invalid && form.get('checkbox')?.touched">Bitte akzeptieren Sie die Datenschutzrichtlinie.</div>
            </div>
            <button type="submit" [disabled]="form.invalid" [ngStyle]="{'background-color': form.get('checkbox')?.value ? '#70E61C' : 'defaultColor' }">Senden</button>
          </form>

        </div>
    </div>
   <!-- <div class="footerShape">
        <img src="../../assets/img/shaps/Purple shadow footer V2.png" alt="">
    </div>
    -->
</div>

