<div class="contactContainer" id="contact">
    <div class="header">
        <div class="hr"></div>
        <h3>Kontakt</h3>
    </div>
    <div class="contant">
        <div class="item">
            <h4>Gibt es ein Problem zu lösen?</h4>
            <p>Kontaktieren Sie mich über dieses Formular,
              ich habe Interesse daran, von Ihnen zu hören,
              Ihre Ideen zu erfahren und mit meiner Arbeit zu Ihren Projekten beizutragen.
            </p>
            <p>
              Brauchen Sie einen Frontend-Entwickler? <strong> Kontaktieren Sie mich!</strong>
            </p>
        </div>
      <div class="item">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <input type="text" placeholder="Name" formControlName="name">
          <div class="error-container">
          <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error">
            Bitte geben Sie Ihren Namen ein.
          </div>
          </div>
          <input type="text" placeholder="Email" formControlName="email">
          <div class="error-container">
          <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
          </div>
          </div>
          <textarea placeholder="Nachricht" formControlName="message"></textarea>
          <div class="error-container">
          <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error">
            Bitte geben Sie eine Nachricht ein.
          </div>
          </div>
          <div class="check">
            <input class="checkbox" name="check" type="checkbox" formControlName="check">
            <label for="check">Bitte akzeptieren Sie die <a class="datenschutz" href="/privacy-policy">Datenschutzrichtlinie</a>Datenschutzrichtlinie
              und stimmen Sie der Verarbeitung meiner Daten wie dargelegt zu.</label>
          </div>
          <div class="error-container">
          <div *ngIf="contactForm.get('check')?.invalid && contactForm.get('check')?.touched" class="error">
            Sie müssen die Datenschutzrichtlinie akzeptieren, um fortzufahren.
          </div>
          </div>
          <button class="sendbtn" [disabled]="contactForm.invalid">Sand massage :)</button>
        </form>
      </div>
    </div>
</div>

