<div class="contactContainer" id="contact">
    <div class="header">
        <div class="hr"></div>
        <h3>Kontakt</h3>
    </div>
    <div class="contant">
        <div class="item">
            <h4>Gibt es ein Problem zu lösen?</h4>
            <p>Kontaktieren Sie mich über dieses Formular,
              ich habe Interesse daran, von Ihnen zu hören,
              Ihre Ideen zu erfahren und mit meiner Arbeit zu Ihren Projekten beizutragen.
            </p>
            <p>
              Brauchen Sie einen Frontend-Entwickler? <strong> Kontaktieren Sie mich!</strong>
            </p>
        </div>
        <div class="item">
            <form action="#">
                <input type="text" placeholder="Name ">
                <input type="text" placeholder="Email">
                <textarea placeholder="Nachricht"></textarea>
                <div class="check">
                    <input name="check" type="checkbox">
                    <label for="check">Bitte akzeptieren Sie die <a href="/privacy-policy">Datenschutzrichtlinie</a>Datenschutzrichtlinie
                      und stimmen Sie der Verarbeitung meiner Daten wie dargelegt zu.</label>
                </div>
                <button>Sand massege :)</button>
            </form>
        </div>
    </div>
</div>

