nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    .logo{
        font-size: 30px;
        font-weight: bold;
    }
    span{
        color: #70E61C;
    }
    .menu{
        display: flex;
        gap: 30px;
    };
    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: #70E61C;
            border-bottom: 2px solid #9747FF;
            transition: all 0.2s ease-in-out;
        }
    }
}

