<div class="skillsContainer">
<div class="skills" [@slideIn]="animationState" *ngIf="true" >
    <div class="iconSkills" *ngFor="let icon of icons; let i = index">
        <img [src]="icon" alt="Icon" width="50" height="50">
        <p class="deskIcon">{{ deskription[i] }}</p>
    </div>
</div>
<div class="skillsDescription" [@slideIn]="animationState" *ngIf="true">
    <h2>Meine Skills</h2>
    <p>Ich habe Erfahrung in der Entwicklung von Projekten mit verschiedenen Frontend-Technologien und -Konzepten gesammelt.</p>
    <button (click)="scrollToContact()">Get in touch</button>
</div>
</div>
