<div class="portfolioContaione" id="portfolio">
    <div class="imgShape">
        <img src="../../assets/img/shaps/Green shadow 3 (skills and portfolio section).png" alt="">
    </div>
    <div class="portfolioHeader">
        <div class="hr"></div>
        <h2>Portfolio</h2>
        <div class="hrLong"></div>
    </div>
    <p>Diese Seite ist ein Beispiel meiner Arbeiten – bitte zögern Sie nicht, sie auszuprobieren.</p>
  <div class="portfolio">
    <div *ngFor="let item of portfolioItems; let i = index" class="portfolioItem" #portfolioItem>
      <ng-container *ngIf="i % 2 === 0; else reverseOrder">
        <img [src]="item.imageUrl" alt="portfolio" [@slideInLeft]="showAnimation[i] ? '*' : 'void'">
        <div [@slideInRight]="showAnimation[i] ? '*' : 'void'" class="portfolioItemContent">
          <ng-container *ngTemplateOutlet="portfolioContent; context: { $implicit: item }"></ng-container>
        </div>
      </ng-container>
      <ng-template #reverseOrder>
        <div [@slideInLeft]="showAnimation[i] ? '*' : 'void'" class="portfolioItemContent">
          <ng-container *ngTemplateOutlet="portfolioContent; context: { $implicit: item }"></ng-container>
        </div>
        <img [src]="item.imageUrl" alt="portfolio" [@slideInRight]="showAnimation[i] ? '*' : 'void'">
      </ng-template>
    </div>

    <ng-template #portfolioContent let-item>
      <h3>{{ item.title }}</h3>
      <p class="phaeder">{{ item.technologies }}</p>
      <p>{{ item.description }}</p>
      <div class="buttons">
        <button *ngFor="let link of item.links"
                [class]="link.class"
                (click)="goToLink($event, link.url)">
          {{ link.label }}
        </button>
      </div>
    </ng-template>
  </div>
</div>
